<header class="site-header">
    <div class="container header-container">
        <div class="logo">
            <a href="/index.html">Recognition Science</a>
        </div>
        <nav class="global-nav">
            <ul>
                <li><a href="/science.html">Papers</a></li>
                <li><a href="/ledger.html">Ledger</a></li>
                <li><a href="/us.html">Theory of Us</a></li>
                <li><a href="/questions/index.html">Questions</a></li>
                <li><a href="/ethics.html">Ethics</a></li>
            </ul>
        </nav>
    </div>
</header>